body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  
  background: url(header.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

h1 {
  font-size: 3rem;
  color: lightgrey;}

hr {
    margin: 20px auto;
    color: green;
    border: 2px solid green;
    max-width: 65px;
    opacity: 1;  
}

.buffer {
  height:200px;
}

.btn {
  font-weight: 700;
  border-radius: 300px;
  text-transform: uppercase;
}

.btn-success {
  background-color: green;
  border-color: green;

}

  .btn-success: hover {
    background-color: green;
    border-color: green;
    border-width: 4px;

}

